@font-face {
    font-family: "poluustav";
    src: url("./woffs/cyrillicold_[allfont.ru].woff");
}

@font-face {
    font-family: "AcademyOld";
    src: url("./woffs/Academy\ Old\ Regular.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blueparagraph {
    color: white;
    font-size: 36px;
    font-family: 'AcademyOld';
    margin: 0 auto;
    text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray, 1px 1px 0 gray;
}

.redparagraph {
    /* color: red; */
    color: red;
    font-family: 'poluustav', Arial, sans-serif;
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* .fontSize {
    font-size: 24px;
} */

.stikh {
    background-color: grey;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.stikh:hover {
    /* background-color: grey; */
    
    background-image: url("./котек.jpg");
    transition: 8s cubic-bezier(0.075, 0.82, 0.165, 1) all;
    background-color: antiquewhite;

}

.inputField {
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    background-position: center;
}

#input {
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    background-position: center;
}

#buttonadd {
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    background-position: center;
}

.redparagraph:hover {
    background-color: antiquewhite;
    text-transform:uppercase;
}